fastapi==0.115.12
minio==7.2.18
python-multipart==0.0.20
uvicorn==0.34.2
pytest==8.3.5
httpx==0.28.1

torch
accelerate==0.28.0

huggingface-hub==0.22.2

langchain==0.2.1
langchain-community==0.2.1
langchain-chroma==0.1.1
langchain-ollama==0.1.0

pypdf==4.2.0
sentence-transformers==2.6.1
beautifulsoup4==4.12.3

chromadb==0.4.24
faiss-cpu==1.8.0

rapidocr-onnxruntime==1.3.16
unstructured==0.13.2

wget==3.2

pillow 
pytesseract 
transformers 
tesseract-0.1.3